@model IEnumerable<AppUser>


<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-11 col-lg-8 col-xl-6">
			<a class="btn btn-lg  mb-5 p-0 fw-bold btn-mine-secondary-borderless" asp-controller="Home" asp-action="Index">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
					<path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1" />
				</svg>
			</a>

			<h2 class="display-5 fw-light mt-2">Seznam uživatelů</h2>

			<div class="row">
				<a asp-action="Create" class="btn btn-mine-pink mt-4 mb-3">Vytvořit nového uživatele</a>
			</div>

			@* VÝPIS ZÁZNAMŮ *@
			@foreach (var user in Model)
			{
				<div class="row container-mine-transparent-pink mb-2 mt-2">
					<div class="col">
						<div class="row text-start text-mine-pink fw-bold fs-5"><span>@user.UserName</span></div>
						<div class="row text-start text-mine-pink fs-5"><span>@user.Email</span></div>
						<div class="row text-start text-mine-pink mb-3"><span>@user.Id</span></div>

						<div class="col text-end text-mine-pink">
							<div class="row justify-content-end">
								<div class="col-auto">
									<a class="btn btn-mine-secondary" asp-action="Edit" asp-route-id="@user.Id">
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
											 class="bi bi-pencil" viewBox="0 0 16 16">
											<path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5
                                            2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793
                                            14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4
                                            9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0
                                            1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528
                                            3.821 3.821-1.528.106-.106A.5.5 0 0 1 5
                                            12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0
                                            1-.468-.325" />
										</svg>
									</a>
								</div>
								<div class="col-auto">
									<form asp-action="Delete" asp-route-id="@user.Id" method="post">
										<button @(User.IsInRole("AdminView") ? "disabled" : "") type="submit" class="btn btn-mine-primary" onclick="return confirm('Opravdu si přeješ uživatele trvale smazat?')">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
												<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
											</svg>
										</button>
									</form>
								</div>

							</div>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>

